.flex-box{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.home{
    background-color: yellowgreen;
    width: 100px;
}

.search{
    background-color: aliceblue;
    flex: 1;
    max-width: 450px;
}

.download{
    background-color: antiquewhite;
    width: 120px;
    border: ;
    
}