.flex-box{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-content: center;
    justify-items: center;
    background-color: blueviolet;
}

.home{
    background-color: yellowgreen;
    width: 100px;
}

.search{
    background-color: rgb(12, 12, 230);
    flex: 1;
    max-width: 450px;
}

.searchbar{
    background-color: aliceblue;
    width: 80%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 40%;
}

.download {
    /* padding-top: 30px; */
    background-color: antiquewhite;
    width: 120px;
    
    
}