* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b-b{
    background: linear-gradient(to right, rgb(22, 21, 83), #2d0635);
    /* background-color: linear-gradient(120deg, rgb(94, 219, 32), rgb(44, 89, 201)); */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    position: relative;
}

.boxes{
    height: 250px;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    text-align: center;

    background-color: rgb(22, 21, 83);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    width: 100%;
    transition: all 200ms ease;
}


.sub-title{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300%;
}

.hidden-cont{
    display: none;
    transition-duration: 0.3s;
}




