* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b-b{
    background: linear-gradient(to right, rgb(22, 21, 83), #2d0635);
    /* background-color: linear-gradient(120deg, rgb(94, 219, 32), rgb(44, 89, 201)); */
}

.main-title{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-grid{
    display: flex;
    grid-template-columns: 300px 300px 300px;
    /* background-color: antiquewhite; */
    margin: 30px 200px 200px 200px;
    justify-content: space-around;
    gap: 100px;
}

.boxes{
    height: 250px;
    width: 200px;
    border-color: white; 
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top:20px;
    text-align: center;
    /* margin-left: ; */
     /* border-box */
    position: relative;

}

/* .boxes::before{
    content: '';
    height: 256px;
    width: 206px;
    top: -3px;
    left: -3px;
    background: linear-gradient(to right, red, purple);
    position: absolute;
    z-index: -1;
    border-radius: 10px;

} */


.sub-title{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enter-butt{
    margin-top: 30px;
    height: 40px;
    width: 100px;
    /* margin-left: 50px; */
    color: white;
    background-color: rgb(22, 21, 83);
    /* border-style: solid;
    border-color:;
    border-width: 2px; */
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 500;
    position: relative;
}

.enter-butt::before {
    content: '';
    width: 104px;
    height: 44px;
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(to right, red, purple);
    z-index: -1;
    border-radius: 6px;
}

.enter-butt:hover{
    color: white;
    background: transparent;
    font-weight: 600;
}