.grid-1{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    column-gap: 10px;   
}


.whole-block{
    border-style: none;
    border-width: 0.2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.429);
    padding-bottom: 20px;
}

.profile-pic{
    height: 120px;
    width:100%;
    object-position: 0px 0px;
    object-fit: cover;
}

.name{
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details{
    margin-left: 10px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.578);
}


.buttons{
    padding: 7px 15px 7px 15px;
    margin-left: 10px;
    color: white;
    background-color: rgba(0, 119, 255, 0.881);
    border-style: solid;
    border-color: rgba(0, 119, 255, 0.881);
    border-radius: 5px;
    font-weight: 600;
}

.buttons:hover{
    color: rgba(0, 119, 255, 0.881);
    background-color: white;
    border-color: rgba(0, 119, 255, 0.881);
    border-style: solid;
    transition-duration: 0.2s;
}
